.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 30%;
}

.nav-item {
  color : white;
  font-size: 20px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  /*text-align: center;*/
}

.navbar-inverse {
  /*color: white;*/
  /*background-color: white;*/
}

/*.navbar-nav > li > a {*/
/*  color: black;*/
/*  display: inline-block;*/
/*  float: none;*/
/*}*/


